@import "tailwindcss";

:root {
  --radius: 0.5rem;
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9.8% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9.8% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9.8% 0 0);
  --color-primary: oklch(47.8% 0.211 285.75);
  --color-primary-foreground: oklch(98% 0 0);
  --color-secondary: oklch(96% 0 0);
  --color-secondary-foreground: oklch(9.8% 0 0);
  --color-muted: oklch(96% 0 0);
  --color-muted-foreground: oklch(45% 0 0);
  --color-accent: oklch(96% 0 0);
  --color-accent-foreground: oklch(9.8% 0 0);
  --color-destructive: oklch(62.8% 0.257 29.23);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(89.8% 0 0);
  --color-input: oklch(89.8% 0 0);
  --color-ring: oklch(47.8% 0.211 285.75);
}

@theme inline {
  --radius: var(--radius);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-card: var(--color-card);
  --color-card-foreground: var(--color-card-foreground);
  --color-popover: var(--color-popover);
  --color-popover-foreground: var(--color-popover-foreground);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);
  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);
  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-foreground);
  --color-destructive: var(--color-destructive);
  --color-destructive-foreground: var(--color-destructive-foreground);
  --color-border: var(--color-border);
  --color-input: var(--color-input);
  --color-ring: var(--color-ring);
}

html.dark {
  --color-background: oklch(9.8% 0 0);
  --color-foreground: oklch(98% 0 0);
  --color-card: oklch(9.8% 0 0);
  --color-card-foreground: oklch(98% 0 0);
  --color-popover: oklch(9.8% 0 0);
  --color-popover-foreground: oklch(98% 0 0);
  --color-primary: oklch(70% 0.211 285.75);
  --color-primary-foreground: oklch(9.8% 0 0);
  --color-secondary: oklch(14.9% 0 0);
  --color-secondary-foreground: oklch(98% 0 0);
  --color-muted: oklch(14.9% 0 0);
  --color-muted-foreground: oklch(63.9% 0 0);
  --color-accent: oklch(14.9% 0 0);
  --color-accent-foreground: oklch(98% 0 0);
  --color-destructive: oklch(62.8% 0.257 29.23);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(27% 0 0);
  --color-input: oklch(27% 0 0);
  --color-ring: oklch(70% 0.211 285.75);
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
